#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Roboto','sans-serif';
    width: 420px;

}