extends layout

block content
  h1= title
  p Welcome to #{title}
  script.

      $(document).ready(function () {

          alert('aaaa');
          var socket = io('http://localhost:8000');
          socket.on('connect', function () {
              socket.emit("LOCATE","Locate hello server")
          });
          socket.on('Server_message',function(data){
              console.log("locate_data",data)
          })
        //-   socket.on('send-data', function (data) {
        //-       console.log(data);
        //-   });
      });
