extends layout/layout_2

block content

    #floating-panel
        form
            .form-group
                input#hidden(type="hidden", data-socket = "", data-user = '#{user_id}')
            .form-group
                label(for='address_root') Địa chỉ gốc:
                input#address_root.form-control(readonly type='textbox', placeholder="Địa chỉ hiện tại",value="227 Nguyễn Văn Cừ")
            .form-group
                img(src="../images/default_geocode-1x.png")
            .form-group
                label(for='address') Địa chỉ tìm kiếm:
                input#address.form-control(type='textbox', placeholder="Nhập địa chỉ...")
            .form-group
                label(for="radius") Bán kính(m) :
                select#radius.form-control
                    option(value="all") Tất cả
                    option(value="600") 600m
                    option(value="800") 800m
                    option(value="1000") 1km
            .form-group
                input#submit(type='button', value='Tìm kiếm', class="btn btn-primary")


    #map
    script.
        var map;
        var geocoder;
        var search_marker;
        var motobike;
        let min_dir;
        var motobike_arr=[];
        var default_position = {lat:10.7666851, lng: 106.641758};
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: default_position,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            geocoder = new google.maps.Geocoder();
            document.getElementById('submit').addEventListener('click', function () {
                clearOverlays();
                geocodeAddress(geocoder, map);
            });
        }

        function geocodePosition(pos) {
            geocoder.geocode({
                latLng: pos
            }, function (responses) {
                if (responses && responses.length > 0) {
                    document.getElementById('info').value = responses[0].formatted_address;
                } else {
                    document.getElementById('info').value = 'Cannot determine address at this location.';
                }
            });
        }
        function generateMotoBikeLocation(drivers, map){
            icon = {
                url: 'https://image.flaticon.com/icons/svg/296/296210.svg',
                scaledSize: new google.maps.Size(50, 50), 
                origin: new google.maps.Point(0,0),
                anchor: new google.maps.Point(30, 30)
            };
            for (let i =0;i< drivers.length ;i++){
                let pos = {
                    lat:drivers[i].lat,
                    lng:drivers[i].lng
                }
                motobike = new google.maps.Marker({
                    map: map,
                    position: pos,
                    icon:icon,
                    draggable: true,
                })
                motobike_arr.push(motobike)
            }
        }
        function clearOverlays() {
            for (var i = 0; i < motobike_arr.length; i++ ) {
                motobike_arr[i].setMap(null);
            }
            motobike_arr.length = 0;
        }
        function circleDrawHandler(pos,map,radius){
            if(!radius){
                return null
            }
            else {
                circle = new google.maps.Circle({
                    center:pos,
                    clickable: true,
                    draggable: false,
                    editable: false,
                    fillColor: '#004de8',
                    fillOpacity: 0.27,
                    map: map,
                    radius: parseInt(radius),
                    strokeColor: '#004de8',
                    strokeOpacity: 0.62,
                    strokeWeight: 1
                })
            }
        }
        function filterDriversWithRadius(drivers,radius,center,callback){
            const motobikes=[]
            if(radius==="all"){
                callback(drivers)
            }
            else{
                for (let i =0;i<drivers.length;i++){
                    const drive = new google.maps.LatLng({lat:drivers[i].lat,lng:drivers[i].lng})
                    let distance = google.maps.geometry.spherical.computeDistanceBetween(drive,center).toFixed(2);
                    if(distance <= parseInt(radius)){
                        motobikes.push(drivers[i])
                    }
                }
                return callback(motobikes)
            }
        }
        function findMinWay(drivers,map,center){
            
        }
        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    search_marker ? search_marker.setMap(null) : search_marker 
                    search_marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                        draggable: true,
                        zoom:13
                    });
                    circle ? circle.setMap(null) : null
                    const radius = $('select#radius').val(); 
                    circleDrawHandler(results[0].geometry.location, resultsMap, radius)
                    fetchDrivers(null,function(err,drivers){
                            !!err ?
                            console.log(err)
                            :
                            filterDriversWithRadius(drivers,radius,results[0].geometry.location,function(result){
                                generateMotoBikeLocation(result, resultsMap)
                        })
                    })
                    google.maps.event.addListener(marker, 'dragend', function () {
                        geocodePosition(marker.getPosition());
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        if (marker.formatted_address) {
                            document.getElementById('info').value = marker.formatted_address + "<br>coordinates: " + marker.getPosition().toUrlValue(6);
                        } else {
                           //document.getElementById('info').value = address + "<br>coordinates: " + marker.getPosition().toUrlValue(6);
                            document.getElementById('info').value = address;
                        }
                        //infowindow.open(map, marker);
                    });
                    google.maps.event.trigger(marker, 'click');
                    if (results[0].geometry.viewport)
                        resultsMap.fitBounds(results[0].geometry.viewport);
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        function fetchDrivers(filter, display){
            const url = filter?`http://localhost:8080/drivers?filter=${filter}`:"http://localhost:8080/drivers"
           $.ajax({
                url: url,
                dataType: 'json',
                success:function(result){
                    return display(null,result)
                },
                error:function(xhr,status,err){
                     return display(err,null)
                }
            });
        }
        $(document).ready(function () {
            var socket = io('http://localhost:8000');
            socket.on('connect', function () {
                socket.emit("LOCATE");
            });
            socket.on('recieve-data-from-phonis', function (data) {
                $('#address').val(data.address);
                $('#submit').trigger('click');
                socket.on('disconnect');
            });
        });
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7g2FscTKbTHcSpWNvuX6EFWSm81zprQ&callback=initMap&libraries=geometry&sensor=false')
