extends layout/layout_2

block content
    #floating-panel
        button#btn_arrow_right
            img(src='../images/arrow-right.ico', width='60px', height='50px', title="Mở")
        form#detail
            .form-group
                input#hidden(type="hidden", data-socket = "", data-user = '#{user_id}')
            .form-group
                label(for='address_root') Địa chỉ gốc:
                input#address_root.form-control(readonly type='textbox', placeholder="Địa chỉ hiện tại",value="227 Nguyễn Văn Cừ")
            .form-group
                img(src="../images/default_geocode-1x.png")
            .form-group
                label(for='address') Địa chỉ tìm kiếm:
                input#address.form-control(type='text', placeholder="Nhập địa chỉ...")
            .form-group
                label(for="radius") Bán kính(m) :
                select#radius.form-control
                    option(value="all") Tất cả
                    option(value="600") 600m
                    option(value="800") 800m
                    option(value="1000") 1km
            input#submit(type='button', value='Tìm kiếm', class="btn btn-primary")
            span
                | &nbsp;
            input#send_to_driver(type='button', value='Chọn tài xế', class="btn btn-success")
            button#btn_arrow_left
                img(src='../images/arrow-left.ico', width='60px', height='50px', title="Đóng")
    #map
