extends layout/layout_1

block content
    .container
        .main
            .left-main
                a.list-group-item.list-group-item-action(href='/')
                    img(src='/images/user/logo.png', style="margin-left: 50px;")
                ul.list-group
                    a.list-group-item.list-group-item-action#1(href='javascript:void(0)') Thông tin tài khoản
                    a.list-group-item.list-group-item-action#2(href='/users/maps') Tông đài trực tuyến
            .right-main
                .right-main-header

                .right-main-body

                .right-main-footer