body{
    background-color: #e5e5e5!important;
}
.container{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-color: white;
    margin-top: 10px;
    height: auto;
    display: inline-block;


}
.left-main{
    width: 25%;
    float: left;
}

.left-main ul.list-group{
    height: 500px;
}

.right-main{
    width: 75%;
    float: right;
}

.right-main-header{
    margin-top: 2px;
    height: 154px;
    border: 1px solid gainsboro;
    background-image: url("../images/right-main-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-main-body{
    padding: 5px;
}

span.red{
    color: red;
}