body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#animate{
    top: 0;
    right: 0;
    position: absolute;
    width: 210px; /*width of your image*/
    height:50px; /*height of your image*/
    background-color: orange;
    margin: 10px; /* If you want no margin */
    padding: 10px; /*if your want to padding */
    color: white;
}
