extends layout/layout_1

block content
    .container
        .main
            .left-main
                .left-main-header

                .left-main-body
                    ul.list-group
                        a.list-group-item.list-group-item-action(href='/') Trang chủ
                        a.list-group-item.list-group-item-action#1(href='javascript:void(0)') Thông tin tài khoản
                        a.list-group-item.list-group-item-action#2(href='javascript:void(0)') Tông đài trực tuyến
                .left-main-footer
            .right-main
                .right-main-header

                .right-main-body

                .right-main-footer